@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
    --default-br-p: 8px;
    --default-color: #333;
    --default-hover: #3e3e3e;
    --default-panel: #222;
    --default-dark: #121212;
    --unique-white: #eee;
    --text-color: #fff;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5) !important;
    background-blend-mode: multiply !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.svg-icon {
    fill: var(--text-color);
}

#search-zone {
    display: flex;
    gap: 3px;
    justify-content: center;
    position: relative;
}

.suggestion-zone {
    position: absolute;
    width: 5in;
    padding: var(--default-br-p);
    border-radius: var(--default-br-p);
    background-color: var(--default-color);
    transform: translateY(3rem);
    display: none;
    z-index: 12;

    .search-suggestion {
        padding: var(--default-br-p);
        border-radius: var(--default-br-p);
        cursor: pointer;
        transition: background 200ms;

        &:hover {
            background-color: var(--default-hover);
        }
    }
}

input,
button,
select {
    outline: none;
    border: 1px solid #444;
    border-radius: var(--default-br-p);
    padding: var(--default-br-p);
    background-color: var(--default-color);
    margin-bottom: 20px;

    &#search {
        width: 5in;
    }

    &#btn-search,
    &#btn-settings {
        width: max-content;
        cursor: pointer;
        transition: background 200ms;

        &:hover {
            background-color: var(--default-hover);
        }

        svg,
        svg * {
            fill: var(--unique-white);
        }
    }

    &.sets {
        margin-bottom: 3px;
    }
}

img {
    height: 30px;
}

#fav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 7in;
    height: 1.5in;
    padding: var(--default-br-p);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    .item {
        background-color: var(--default-color);
        padding: calc(var(--default-br-p) + 2px);
        width: 6rem;
        height: 6rem;
        border-radius: var(--default-br-p);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 200ms;

        &:hover {
            transform: translateY(-3px);
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5px;

            div {
                width: 1.1in;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &.add {
            min-width: 6rem !important;
        }

        .btn-options {
            position: absolute;
            right: 4px;
            top: 4px;
            cursor: pointer;
            transition: background 200ms;

            &:hover {
                background-color: var(--default-hover);
            }
        }

        .options {
            display: none;
            position: absolute;
            background-color: var(--default-dark);
            width: max-content;
            padding: 3px;
            border-radius: var(--default-br-p);
            overflow: hidden;

            button {
                border: none;
                margin: 0;
                text-align: left;
                border-radius: var(--default-br-p);
                background-color: transparent;
                transition: background 200ms;

                &:hover {
                    background-color: var(--default-color);
                }
            }

            &.show {
                display: flex;
                flex-direction: column;
                gap: 0;
            }
        }
    }
}

.visit-window {
    width: calc(100% / 1.5);
    height: calc(100% / 1.7);
    border-radius: 10px;
    position: fixed;
    overflow: hidden;
    border: 1.5px solid #444;
    background-color: var(--default-panel);
    transform: scale(.8);
    opacity: 0;
    transition: 200ms;
    transition-property: transform, opacity;
    z-index: 20;

    .window-header {
        display: flex;
        background-color: var(--default-dark);
        padding: 8px;
        align-items: center;
        position: relative;
        gap: 5px;
        user-select: none;
        border-bottom: 1px solid #444;
        z-index: 9999;

        .window-icon {
            height: 20px;
        }

        .window-context_menu {
            position: absolute;
            background-color: var(--default-color);
            border-radius: var(--default-br-p);
            padding: var(--default-br-p);
            border: 1px solid #444;
            backdrop-filter: blur(12px);
            animation: contextMenu 200ms forwards;

            .window-option {
                padding: var(--default-br-p);
                border-radius: var(--default-br-p);
                transition: background 200ms;

                &:hover {
                    background-color: var(--default-hover);
                }
            }
        }

        @keyframes contextMenu {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .window-title {
            font-size: 15px;
            pointer-events: none;

            &::after {
                content: 'Preview';
                background-color: #fff6c3;
                border-radius: 5px;
                margin-left: 5px;
                padding: 3px;
                color: #94731e;
                font-weight: bold;
                font-size: 12px;
            }
        }

        .window-action_buttons {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;

            @mixin actionButton {
                width: 3rem;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                transition: background 200ms;
            }

            .window-new_tab {
                @include actionButton();

                &:hover {
                    background-color: var(--default-hover);
                }
            }

            .window-close {
                @include actionButton();
    
                &:hover {
                    background-color: rgb(248, 48, 48);
                }
            }
        }
    }

    .window-content {
        overflow-y: auto;
        max-height: calc(100% - 2rem);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

.fav-menu,
.settings {
    background-color: var(--default-panel);
    border-radius: var(--default-br-p);
    padding: var(--default-br-p);
    width: max-content;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: scale(.7) translate(-50%, -50%);
    transition: box-shadow 200ms;
    animation: popup 200ms forwards;
    z-index: 9999;

    * {
        margin-bottom: 5px;
    }

    button {
        cursor: pointer;
        transition: background 200ms;

        &:hover {
            background-color: var(--default-hover);
        }

        &.btn-add {
            float: right;
        }
    }

    .section {
        margin: 10px 0 7px 0;
        font-weight: bold;
    }

    .set-btns {
        display: flex;
        justify-content: center;
        gap: 3px;
        margin-top: 10px;
    }

    .title-suggestions {
        position: absolute;
        padding: var(--default-br-p);
        border-radius: var(--default-br-p);
        border: 1px solid var(--unique-white);
        background-color: var(--default-color);
        backdrop-filter: blur(10px);
        max-height: 2in;
        overflow: auto;

        .title-suggestion {
            padding: var(--default-br-p);
            border-radius: var(--default-br-p);
            outline: none;
            cursor: pointer;
            transition: background 200ms;

            &:hover {
                background-color: var(--default-hover);
            }

            &.focused {
                background-color: var(--default-hover);
            }
        }

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--default-color);
            border-radius: var(--default-br-p);

            &:hover {
                background-color: var(--default-hover);
            }
        }
    }
}

@keyframes popup {
    from {
        transform: translate(-50%, -50%) scale(.7);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes close {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -50%) scale(.7);
        opacity: 0;
    }
}

.alert-msg {
    position: fixed;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%) scale(.8);
    background-color: var(--default-panel);
    padding: var(--default-br-p);
    border-radius: var(--default-br-p);
    opacity: 0;
    width: max-content;
    user-select: none;
    transition: 200ms;
    transition-property: transform, opacity, top;
    z-index: 999;
}

.link {
    color: #00bcd4;

    &:hover {
        text-decoration: underline;
    }
}

br {
    user-select: none;
}