<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Sphere ∙ Chat</title>
    <link rel="stylesheet" href="static/style/chat/style.css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai.min.css" integrity="sha512-RLF8eOxhuwsRINc7r56dpl9a3VStqrXD+udWahutJrYdyh++2Ghnf+s4jFsOyryKZt/GNjPwbXVPH3MJpKrn2g==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <div class="container">
        <div id="history">
            <div class="history-content">
                <div class="column header">
                    <button role="button" class="column-btn start-over" onclick="location.reload()">Start Over</button>
                    <button role="prompts" class="column-btn prompts">Prompts</button>
                </div>
                <div class="column body"></div>
                <div class="column footer">
                    <button role="button" class="column-btn export-history">
                        <span class="material-symbols-outlined">upload</span>
                        <span>Export</span>
                    </button>
                    <button role="button" class="column-btn import-history">
                        <span class="material-symbols-outlined">download</span>
                        <span>Import</span>
                    </button>
                    <button role="button" class="column-btn delete-history">
                        <span class="material-symbols-outlined">delete</span>
                        <span>Delete History</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="expand"></div>
        <div id="chat-interface">
            <div class="message-container">
                <center>
                    <img src="static/images/ai.png" height="70" alt="Start Sphere AI">
                    <h2 class="assistant-question">How can I assist you today?</h2>
                    <p style="max-width: 7in;">Discover the seamless way to access Start Sphere AI on-the-go with our Android app! Say goodbye to being tied down by a web browser. Dive into our advanced AI services straight from your phone, and it's still absolutely free. Get the Start Sphere AI app today and experience convenience redefined.</p>
                    <div style="width: max-content;">
                        <a href="https://www.mediafire.com/file/92l4qso8rvg9sjb/yssf.startsphere.apk/file" style="text-decoration: none;" draggable="false" target="_blank">
                            <button role="button" class="download-app">
                                <span class="material-symbols-outlined">apk_install</span>
                                <span>&nbsp;Download</span>
                            </button>
                        </a>
                    </div>
                </center>
                <div class="to-bottom">
                    <span class="material-symbols-outlined">arrow_downward</span>
                </div>
            </div>
            <div class="message-input-container">
                <div class="message-input-additionals">
                    <button class="mic">
                        <span class="material-symbols-outlined">mic</span>
                    </button>
                </div>
                <textarea id="prompt-place" autofocus placeholder="Ask me anything..."></textarea>
                <div class="message-input-buttons">
                    <button class="send" disabled>
                        <span class="material-symbols-outlined">send</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="static/script/chat.js"></script>
    <script src="static/script/encryption.js"></script>
</body>
</html>